

<div class="container"> 
    <div class="row">
      <div class="col-sm-12 mt-3 mb-3 text-center">
          <h3>Chart with demo data</h3>
      </div>
    </div>
</div>

<div class="container">

  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a routerLink="/sunburst-chart" class="nav-link">Sunburst Chart</a>
        </li>
    <li class="nav-item">
      <a routerLink="/bar-chart" class="nav-link">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a routerLink="/radar-chart" class="nav-link">Radar Chart</a>
    </li>
    <li class="nav-item">
      <a routerLink="/pie-chart" class="nav-link">pie Chart</a>
    </li>

    <li class="nav-item">
        <a href="https://github.com/w3raja/sunburst-chart" target="_blank" class="nav-link">Github Soruce code</a>
      </li>

  </ul>


  <div>
    <router-outlet></router-outlet>  
  </div>
  
</div>

